body { 

    margin: 0; 
  
    font-family: Arial, Helvetica, sans-serif; 
  
    background-color: #00ff2a; 
    font-size: 1.25em;
    color: #d50f65; 
  
  }

  header { 

    background-color: #005f99; 
  
    color: rgb(128, 139, 105); 
    text-align: center; 
    font-size: 1.25em;
    padding: 20px; 
  
  } 

